In [3]:
import pandas as pd

df = pd.DataFrame({'mileage':[19,19,20,20,20,21,21,21,
                              22,23,24,25,25,27,28,32,33,34,35]})
df

    mileage
0        19
1        19
2        20
3        20
4        20
5        21
6        21
7        21
8        22
9        23
10       24
11       25
12       25
13       27
14       28
15       32
16       33
17       34
18       35

In [4]:
def mean(a):
    sum_of_observation = 0
    for i in a['mileage']:
        sum_of_observation += i
    mean = sum_of_observation/len(a['mileage'])
    return mean
        
print(f'Mean of mileage : {mean(df)}')

Mean of mileage : 24.68421052631579

In [6]:
def median(a):
    data = list()
    for i in a['mileage']:
        data.append(i)
    
    n = len(data)
    median = (n+1)//2
    return f'Median of mileage data is : {data[(median-1)]}'
        
median(df)

'Median of mileage data is : 23'