### Variance

In [3]:
import pandas as pd

df = pd.DataFrame({'mileage':[19,19,20,20,20,21,21,21,
                              22,23,24,25,25,27,28,32,33,34,35]})
df

    mileage
0        19
1        19
2        20
3        20
4        20
5        21
6        21
7        21
8        22
9        23
10       24
11       25
12       25
13       27
14       28
15       32
16       33
17       34
18       35

In [6]:
def variance(a):
    
    #calculating mean
    sum_of_observation = 0
    for i in a['mileage']:
        sum_of_observation += i
    mean = sum_of_observation/len(a['mileage'])
    
    #calculating squared deviation
    squared_deviation = list()
    for i in a['mileage']:
        v = i-mean
        squared_deviation.append(v**2)
    
    # calculating sum of all squared deviations
    sum_of_squared_deviation = 0
    for i in squared_deviation:
        sum_of_squared_deviation += i
    
    # total number of observations
    n = len(a)
    
    #formula for variance
    pv = (1/n)*(sum_of_squared_deviation)
    sv = (1/(n-1))*(sum_of_squared_deviation)
    
    print(f'1. Population Variance mileage data is : {pv}\n2. Sample Variance mileage data is : {sv}')
        
        
variance(df)

1. Population Variance mileage data is : 27.058171745152357
2. Sample Variance mileage data is : 28.56140350877193